body {
    padding: 5%;
    background-color: rgb(146, 146, 146);
}

h3 {
    color: white;
    font-family: monospace;
    text-align: center;
    font-size: 54px;
}

#langInput{
    height: 250px; 
}

#categories{
    height:110px;
    font-family: monospace;
}

textarea {
    width:100%
}

#submitBtn {
    /* position: absolute; */
    
}

h5 {
    color: white;
    font-family: monospace;
    text-align: left;
    font-size:28px;
}


input[type="button"]{
    margin-top: 5px;
    font-family: monospace;
    background-color: rgba(0,0,0,0);
    border-color: white;
    color: white;
    cursor: pointer;
}

#stateGraph {
    border: 1px solid white;
    width: 100%;
    height: 400px;
}
